.icon_ver_0,
.icon_ver_1,
.icon_ver_2,
.icon_ver_3,
.icon_ver_4,
.icon_ver_5,
.icon_ver_6,
.icon_ver_7,
.icon_ver_8,
.icon_ver_9,
.icon_ver_10,
.icon_ver_11,
.icon_ver_12,
.icon_ver_13,
.icon_ver_14,
.icon_ver_15,
.icon_ver_16,
.icon_ver_17,
.icon_ver_18
{
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 34px;
    width: 280px;
    height: 34px;
    position: relative;
    top: -40px;
    left: 150px;
}
/*maimai*/
.icon_ver_0,
.icon_ver_1
{
    color: rgb(0, 170, 255);
    background-color: rgb(180, 240, 255);
    border: 3px solid rgb(60, 200, 255);
}
/*Green*/
.icon_ver_2,
.icon_ver_3
{
    color: rgb(0, 140, 0);
    background-color: rgb(106, 255, 106);
    border: 3px solid rgb(0, 140, 0);
}
/*Orange*/
.icon_ver_4,
.icon_ver_5
{
    color: rgb(255, 112, 17);
    background-color: rgb(255, 183, 80);
    border: 3px solid rgb(255, 128, 0);
}
/*Pink*/
.icon_ver_6,
.icon_ver_7
{
    color: rgb(255, 60, 120);
    background-color: rgb(255, 182, 182);
    border: 3px solid rgb(255, 60, 120);
}
/*Murasaki*/
.icon_ver_8,
.icon_ver_9
{
    color: rgb(128, 0, 128);
    background-color: rgb(210, 90, 210);
    border: 3px solid rgb(128, 0, 128);
}
/*Milk*/
.icon_ver_10,
.icon_ver_11
{
    color: rgb(255, 255, 255);
    background-color: rgb(250, 220, 145);
    border: 3px solid rgb(161, 228, 255);
}
/*Finale*/
.icon_ver_12
{
    background: linear-gradient(to top, #009fcc, #ff0088);
    color: rgb(35, 195, 255);
    border: 3px solid rgb(80, 0, 190);
}
/*DX*/
.icon_ver_13,
.icon_ver_14
{
    color: rgb(0, 170, 255);
    background-color: rgb(230, 230, 230);
    border: 3px solid rgb(60, 200, 255);
}
/*DX Splash*/
.icon_ver_15,
.icon_ver_16
{
    background-color: rgb(182, 233, 41);
    border: 3px solid rgb(0, 200, 0);
    color: yellow;
}
/*DX UNiVERSE*/
.icon_ver_17,
.icon_ver_18
{
    color: rgb(0, 183, 255);
    background-color: rgb(255, 140, 165);
    border: 3px solid rgb(255, 55, 120);
}